h1 {
  text-align: center;
}

.address-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  justify-self: center;
  text-align: right;
  margin-top: 20px;
  max-width: 430px;
}

.signup-button {
  padding: 20px;
  margin: 20px;
  grid-column: 1 / -1;
  width: 200px;
  justify-self: center;
}
