@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
  font-weight: 100;
  font-style: italic;
}

* {
  font-family: NunitoSans, sans-serif;
}

body {
  background-color: #e3efde;
  color: #1a4314;
  text-align: center;
}

button {
  background-color: #2c5e1a;
  color: white;
  border-radius: 7px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #32cd30;
  border-color: #32cd30;
}

button:disabled {
  background-color: #b2d2a4;
  color: grey;
  cursor: not-allowed;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  text-align: center;
  font-style: italic;
}

input {
  padding: 5px;
  border-radius: 7px;
}

select {
  border-radius: 7px;
  padding: 5px;
}
