.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.corner-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

a {
  text-decoration: none;
}

h2:hover {
  cursor: pointer;
}

.user-settings-link {
  width: 28px;
  height: 28px;
}
