.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  border-color: #32cd30;
  background-color: #32cd30;
}

.corner-buttons {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

a {
  text-decoration: none;
}

h2:hover {
  cursor: pointer;
}

.user-settings-link {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
}

.signout-button {
  width: 28px;
  height: 28px;
}
