.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #32cd30;
  margin: -8px -8px 0 -8px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logoImage {
  height: 50px;
  border-radius: 50%;
}

.logoText {
  color: white;
}

.cornerButtons {
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: right;
}

.clerkButton {
  color: white;
  height: 85.88px;
  max-width: 50px;
  padding: 0 5px;
  margin: 0;
  align-content: center;
}

.clerkButton:hover {
  cursor: pointer;
  background-color: #2c5e1a;
}

.cornerButton {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
