.listItem {
  display: flex;
  align-items: center;
}

.checkbox {
  margin: 5px;
  width: 20px;
}

.listMessage {
  margin-bottom: 5px;
}

.addItemForm {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.addItemForm input {
  flex-grow: 1;
  margin-bottom: 5px;
}

.deleteBoxButtonContainer {
  display: flex;
  justify-content: center;
}

.search {
  justify-items: center;
}

.search input {
  width: 300px;
  margin: 5px;
}
