.listItem {
  display: flex;
  align-items: center;
}

.checkbox {
  margin: 5px;
  width: 20px;
}

.listMessage {
  margin-bottom: 5px;
}

.addItemForm input {
  width: 200px;
  margin-bottom: 5px;
}

.deleteBoxButton {
  margin-left: 100px;
}

.search {
  justify-items: center;
}

.search input {
  width: 300px;
}
