.mapLegend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 5px 10px 0;
  gap: 5px;
  @media (min-width: 355) {
    gap: 20px;
  }
  /* @media (min-width: 370) {
    margin: 0 5px 2px 0;
  } */
  @media (min-width: 488px) {
    margin: 0 5px 2px 0;
  }
}

.mapLegendItem {
  display: flex;
  flex-direction: row;
  height: 41px;
  text-align: center;
  align-items: center;
  gap: 2px;
  width: min-content;
  @media (min-width: 488px) {
    width: fit-content;
  }
}
