.mapLegend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}

.mapLegendItem {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 41px;
  align-items: center;
}
